*{
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif; 
}

.menu {
    background-color: rgb(14, 67, 241); 
    overflow: hidden; 
}

.menu a {
    color: white; 
    text-align: center; 
    padding: 14px 16px; 
    text-decoration: none; 
    display: block; 
}
.logo1{
    margin-left: 2em;
    width: 5%;
    font-size: 1em;
}
.menu a:hover {
    background-color: gray;
}

.menu-icon {
    display: none; 
    font-size: 30px; 
    padding: 14px 16px; 
    cursor: pointer;
    color: white; 

}

.menu-items {
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    display: flex; 
    flex-direction: row; 

}

.menu-items li {
    flex: 1; 
}

#menu-toggle {
    display: none; 
}
img{
    max-width: 100%;
}
.section1{
    background-color: rgb(36, 36, 248);
    border: none;
    border-radius:0 0 20%  25%;
}
*{
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif; 
}
img{
    max-width: 100%;
}
.menu {
    background-color: rgb(14, 67, 241); 
    overflow: hidden; 
}

.menu a {
    color: white; 
    text-align: center; 
    padding: 14px 16px; 
    text-decoration: none; 
    display: block; 
}
.logo1{
    margin-left: 2em;
    width: 5%;
    font-size: 1em;
}
.menu a:hover {
    background-color: rgb(255, 255, 255);
    color: blue;
}

.menu-icon {
    display: none; 
    font-size: 30px; 
    padding: 14px 16px; 
    cursor: pointer;
    color: white; 

}

.menu-items {
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    display: flex; 
    flex-direction: row; 

}

.menu-items li {
    flex: 1; 
}

#menu-toggle {
    display: none; 
}
.section1{
    background-color: rgb(36, 36, 248);
    border: none;
    border-radius:0 0 20%  25%;
}
.row{
    width: 100%;
    display: inline-block;
}
.col{
    width: 40%;
    display: inline-block;
    margin: 2em;
    margin-left: 5em;
    vertical-align: top;
    

}
.imagen1{
    background-size: 100%;
    vertical-align: top;

}
.imgmenu{
    margin-left: 2em;
    width: 100%;
}
.uno{
    width: 20%;
    display: inline-block;
    
}
.titulo{
    margin-bottom: 2rem;
    font-size: 5rem;
    color: aliceblue;
}
.parrafo1{
    line-height: 2rem;
    color: bisque;
    font-size: 1.8em;
}
.boton-1{
    padding: 0.9em;
    margin-top: 3em;
    margin-bottom: 4em;
    margin-left: 14em;
    background: rgb(38, 0, 255);
    color: rgb(255, 255, 255);
    border: 2px white solid;
    font-size: 0.9rem;
}
.boton-1:hover{
    transform: scale(1.5);
}
.boton-1:focus{
    box-shadow: 0,0,5px,5px white;
}

.enlase-1{
    color: rgb(0, 243, 81);
    border-radius: 10%;
    padding: 1rem;
    margin-top: 5em;
    vertical-align: baseline;
}
.orden{
    font-size: 1.5em;
    line-height: 1.5em;
}
.dos-1{
    background-color: rgba(255, 255, 255, 0.438);
    vertical-align: top;

}

.dos-2{
    font-size: 1.4em;
    line-height: 1.5em;
    margin-top: 4em;
    vertical-align: top;
    box-shadow: 16px -8px 45px 8px rgba(148,148,148,1);
}
.parrafo2{
    font-size: 1.8em;
}
.label:hover{
    background-color: blue;
    color: azure;
}
.carrusel{
    display: flex;
    flex-wrap: nowrap;
    overflow: scroll;
}
.conta{
    flex: 1 0 auto; 
    width: 30%;
}
.mapa{
    width: 95%;
    vertical-align: top;
    text-align: center;
    margin: auto;
}
.mapiña{
    border-radius: 10%;
    -webkit-box-shadow: -6px 10px 98px 23px rgba(26, 15, 61, 0.71);
    -moz-box-shadow: -6px 10px 98px 23px rgba(20, 11, 48, 0.71);
    box-shadow: -6px 10px 98px 23px rgba(17, 7, 49, 0.71);

}
.ff{
    border-bottom: 2px black solid;
    vertical-align: top;
    margin-bottom: 3em;
}
.orden{
    font-size: 1.5em;
    line-height: 2em;
    
}
.azul1:hover{
    transform: scale(1.5);
    overflow-wrap:normal;
    color: blue;
}
.azul12:hover{
    transform: scale(0.9);
    color: blue;
}
.section3{
    text-align: center;
}
.cinco{
    width: 60%;
    margin-left:2em ;
}
.bloque{
    width: 15%;
    margin-left: 5em;
    line-height: 3em;
}
.bloque1{
    background-color: rgb(36, 36, 248);
    color: azure;
    border-radius: 10%;
    padding: 2em;
    vertical-align: top;
    box-shadow: 16px -8px 45px 8px rgba(148,148,148,1);
    margin-right: 2em;
}
.bloque1:hover{
    transform: scale(1.5);
}
.img3{
    width: 20%;
}
.boton-blanco{
    background-color: blue;
    color: azure;
    padding: 1rem;
    font-size: 1.5em;
    border: white 2px solid;
    border-radius: 1em;
    

}

input {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

select {
    margin-bottom: 10px;
    margin-top: 10px;
  }
.primero{
    font-size: 2em;
    color: black;
}
.primero:hover{
    background-color: rgb(0, 0, 255);
    color: azure;
}
.segundo{
    font-size:1em ;
    color: rgba(0, 0, 0, 0.473);
}

.bloqueee{
    width: 100%;
    margin: auto;
    box-shadow: 16px -8px 45px 8px rgba(148,148,148,1);
}
.label1{
    width: 60%;
    margin: auto;
    font-size: 1.7em;
    margin-top: 4em;
}
.app{
    padding: 4.5em;
}
.negro{
    color: rgb(255, 255, 255);
}
.centro{
    text-align: center;
}
.conta{
    margin: 3em;
    line-height: 1.9em;
    display: inline-block;
    width: 25%;
    

    

}
.titulo111{
    font-size: 1.8em;
}
.subtitulo{
    font-size: 1.2em;
    margin-top: 2em;
}
.unica{
    margin-left: 5em;
    width: 80%;
    text-align: center;
    padding: 2em;
}

.verde{
    padding: 1em;
    text-transform: uppercase;
    background-color: green;
    color: azure;
    font-size: 1em;
    margin-top: 2em;
}
.f-azul{
    background-color: rgba(0, 0, 255, 0.726);
    color: white;
}


.conta:hover{
    background-color: rgb(241, 211, 165);
    -webkit-box-shadow: -6px 10px 98px 23px rgba(26, 15, 61, 0.71);
    -moz-box-shadow: -6px 10px 98px 23px rgba(20, 11, 48, 0.71);
    box-shadow: -6px 10px 98px 23px rgba(17, 7, 49, 0.71);
}
.conta img{
    transition: all 300s;
}
.azul{
    color: blue;
    font-size: 1.5em;
}

.image5:hover{
    width: 110%;
    transform: scale(1,5s);

}
.iconosf{
    margin-right: 1em;
    font-size: 1.5em;
    color: azure;
}
.iconosf:hover{
    transition: all initial 1.ms;
    color: blue;
}

.foot{
    background-color: blue;
    line-height: 1.9em;
}
.final{
    color: azure;
    width: 30%;
    line-height: 3.1rem;
    font-size: 1.2rem;
}
.fondo{
    color: rgba(0, 0, 0, 0.205);
}
.lenguaje{
    padding: 1.5em;
    margin-left: 6em;
    border: 5px solid red;
}
.video{
    -webkit-box-shadow: -6px 10px 98px 23px rgba(26, 15, 61, 0.71);
    -moz-box-shadow: -6px 10px 98px 23px rgba(20, 11, 48, 0.71);
    box-shadow: -6px 10px 98px 23px rgba(17, 7, 49, 0.71);
}
.video:hover{
    transform: scale(1.5);
}
@media (max-width: 600px) {
    .menu-items {
        flex-direction: column; 
        display: none;
    }

    .menu-icon {
        display: block;
    }
    #menu-toggle:checked + .menu-icon + .menu-items {
        display: flex; 
    }
    .col{
        width: 80%;
        margin: 1.5em;
        text-align: center;
        justify-content: center;
    }
    .parrafo1 {
        display: none;
        
    }
    .parrafo2 {
        display: none;
        
    }
    .titulo{
        font-size: 1.5em;
    }
    .boton-1{
        margin: 2em;
    }
    .enlase-1{
        display: none;
    }
    .ff{
        display: none;
    }
    .conta{
        width: 80%;
        display: block;
    }
    .fondo{
        display: none;
    }
    .app{
        padding: 2em;
    }
    .unica{
        margin: 0;
    }
    .video:hover{
        transform: scale(0.6);
    }
    .mapiña{
        display: none;
    }
    .ttt{
        display: none;
    }
    
}
@media (min-width: 601px) and  (max-width: 1262px) {

    .col{
        width: 80%;
        margin: 1.5em;
        text-align: center;
        justify-content: center;
    }
    .parrafo1 {
        display: none;
        
    }
    .parrafo2 {
        display: none;
        
    }
    .titulo{
        font-size: 1.5em;
    }
    .boton-1{
        margin-left: 2.5em;
    }
    .enlase-1{
        display: none;
    }
    .ff{
        display: none;
    }
    .conta{
        width: 40%;
        display: block;
    }
    .fondo{
        display: none;
    }
    .app{
        padding: 2em;
    }
    .unica{
        margin: 0;
    }
    .video:hover{
        transform: scale(0.6);
    }
    .mapiña{
        display: none;
    }
    .ttt{
        display: none;
    }
    .letrafoot{
        display: none;
    }
    
}