nav ul li:hover{
   font-size: 1.1em;
   border-bottom: 1px black solid;
}

.bins{
    background-color: palevioletred;
}

.bins-btn{
    border-radius: 24px;
}

.spo{
    width: 380px;
    z-index: 1;
}

.spo:hover{
    width: 2000px;
    transition: width 1.5s ease;
}


footer{
    background-color: rgb(237, 235, 235);
}


footer ul li a{
    
    font-size: 0.9em;
    margin-left: -2.2em;

}

@media screen and (max-width:540px) {
    .footer-cont{
        text-align: center;
    }
    
}

.raym{
    margin-top: 3em
}


.promo {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.275);
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.promo img {
    max-width: 90%;
    max-height: 90%;
}

.promocajita{
    position: relative;
    text-align: center;
}

.promoboton {
    position: absolute;
    font-size: 1.2em;
    color: white;
    padding: 0.4em 0.6em;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
}

#nab{
    z-index: 1;
}
