body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.asis{
    background-color: #888;
}

.pant{
    height: 50px;
    width:325px;
    text-align: right;
}