

#presentacion{
    background-image:url(../img/pexels-ron-lach-7778906.jpg);
    background-repeat: no-repeat;
    width: 85%;
    background-size: cover;
    margin: 2em auto;
    text-align: center;
}

h1{
    font-size: clamp(3em,4vw + 1rem, 1em);
    color: white;
    padding-top: 3em;
}
h1::after{
    display: block;
    font-size: 1rem;
    color: rgb(0, 0, 0);
}


.present{
    width: 50%;
    margin: 4em auto;
    display: grid;
    gap: 1rem;
    grid-auto-rows: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
}

.presboton1 h2{
    font-family: Arial, Helvetica, sans-serif;
}

.presboton1{
    padding: 1.5em;
    background-color: white;
    border: 1px black solid;
}
.presboton2{
    padding: 1.5em;
    background-color: black;
    border: 1px white solid;
    color: white;
}

.presboton1:hover{
    transition: 0.8s;
    background-color: black;
    border: 1px white solid;
    color: white;
}
.presboton2:hover{
    transition: 0.8s;
    background-color: white;
    border: 1px black solid;
    color: black;
}

.present2{
    width: 100%;
    margin: 4em auto;
    display: grid;
    gap: 5rem;
    grid-auto-rows: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
}

.buscado{
    width: 90%;
    margin: 1em auto;
    text-align: center;
}

.buscado h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
}

